<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FuelIndeed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FuelStationLogin</display-name>
    <servlet-name>FuelStationLogin</servlet-name>
    <servlet-class>fuelstation.FuelStationLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationLogin</servlet-name>
    <url-pattern>/FuelStationLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationRegister</display-name>
    <servlet-name>FuelStationRegister</servlet-name>
    <servlet-class>fuelstation.FuelStationRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationRegister</servlet-name>
    <url-pattern>/FuelStationRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>fuelstation.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>fuelstation.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPersonLogin</display-name>
    <servlet-name>DeliveryPersonLogin</servlet-name>
    <servlet-class>fuelstation.DeliveryPersonLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPersonLogin</servlet-name>
    <url-pattern>/DeliveryPersonLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>fuelstation.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFuelAva</display-name>
    <servlet-name>UpdateFuelAva</servlet-name>
    <servlet-class>fuelstation.UpdateFuelAva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFuelAva</servlet-name>
    <url-pattern>/UpdateFuelAva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFuelRate</display-name>
    <servlet-name>UpdateFuelRate</servlet-name>
    <servlet-class>fuelstation.UpdateFuelRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFuelRate</servlet-name>
    <url-pattern>/UpdateFuelRate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>fuelstation.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordDp</display-name>
    <servlet-name>ChangePasswordDp</servlet-name>
    <servlet-class>fuelstation.ChangePasswordDp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordDp</servlet-name>
    <url-pattern>/ChangePasswordDp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeliveryPerson</display-name>
    <servlet-name>AddDeliveryPerson</servlet-name>
    <servlet-class>fuelstation.AddDeliveryPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeliveryPerson</servlet-name>
    <url-pattern>/AddDeliveryPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetterStterDp</display-name>
    <servlet-name>GetterStterDp</servlet-name>
    <servlet-class>fuelstation.GetterStterDp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetterStterDp</servlet-name>
    <url-pattern>/GetterStterDp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageBooking</display-name>
    <servlet-name>ManageBooking</servlet-name>
    <servlet-class>fuelstation.ManageBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBooking</servlet-name>
    <url-pattern>/ManageBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFuelServlet</display-name>
    <servlet-name>BookFuelServlet</servlet-name>
    <servlet-class>fuelstation.BookFuelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFuelServlet</servlet-name>
    <url-pattern>/BookFuelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordUser</display-name>
    <servlet-name>ChangePasswordUser</servlet-name>
    <servlet-class>fuelstation.ChangePasswordUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordUser</servlet-name>
    <url-pattern>/ChangePasswordUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatus</display-name>
    <servlet-name>ChangeStatus</servlet-name>
    <servlet-class>fuelstation.ChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatus</servlet-name>
    <url-pattern>/ChangeStatus</url-pattern>
  </servlet-mapping>
</web-app>